<%= javascript_include_tag "sparks"%>

<table id="sparksTable" class="table table-striped table-hover">

<tr>
<% Users.all.each do |user| %>
		<td style="width:50%"><%= image_tag user.profile_pic, id: user.id, class: 'profilePic'%></td>
<% end %>
</tr>

</table>