<%= javascript_include_tag "sparks"%>

<table>
<tr>
<% counter = 0 %>

<% Users.all.each do |user| %>

<% counter += 1 %>

<% if counter == 2 %>
	<tr>
	<% counter = 0 %>
<% end %>

<% if user.id != 1 && user.exp_id != 1 %>
		<td style="width:50%;height:50%;" id="potential_spark">
			<span class="id" style="display:none;"><%= user.id %></span>
			<%= image_tag user.profile_pic, id: user.id, class: 'profilePic' %>
		</td>
<% end %>

<% if counter == 2 %>
	</tr>
	<% counter = 0 %>
<% end %>

<% end %>
</tr>
</table>
