<%= javascript_include_tag "sparks"%>

<table id="sparksTable" class="table table-striped table-hover">

<% @Users.all do |user| %>
	<tr>
		<td><%= image_tag "assets/#{user.profile_pic}", id: user.id, class: 'profilePic'%></td>
	</tr>
<% end %>