<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<title>ChalupaBatman</title>
	<%= stylesheet_link_tag    "application", "bootstrap_and_overrides", "main", media: "all" %>
	<%= javascript_include_tag "application"%>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="navbarContainer" class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="dropdown" style="padding-top: 9px;">
					<span id="menu" class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: 20px;">Profile</span><b class="caret"></b>
					<ul id="menuItems" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li id="profileMenuItem">Profile</li>
						<li class="dividerMenuItem"/>
						<li id="searchMenuItem">Events</li>
						<li class="dividerMenuItem"/>
						<li id="sparksMenuItem">Sparks</li>
						<li class="dividerMenuItem"/>
						<li id="requestsMenuItem">Requests</li>
						<li class="dividerMenuItem"/>
						<li id="logoutMenuItem">Logout</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container" >
		<%= yield %>
	</div>


</body>
</html>
